$main-font: "Montserrat", sans-serif;

$primary-color: #15573F;
$secondary-color: #FD9872;
$terciary-color: #75BC97;

$top-background: #75BC97;
$middle-background: #FFFFFF;
$bottom-background: #F6F6F6;

$grey: #848484;
$green-favorite: #75BC97;
$green-name: #1E6B4E;
$green-price: #257556;