.container {
    .container-header {
        width: 100%;
        height: 500px;
        background-color: $top-background;

        .background-header {
            width: 100%;
            height: 100%;

            .left-leaf {
                position: absolute;
                height: 500px;
                left: 0px;

                z-index: 2;
            }

            .plantperson {
                position: absolute;
                height: 428px;
                margin: 36px 0px;
                right: 21.18%;
            }

            .right-leaf {
                position: absolute;
                height: 500px;
                right: 0px;
            }
        }

        .background-header-mobile {
            display: none;
        }

        .content-header {
            display: flex;
            justify-content: center;

            width: 100%;

            position: absolute;
            top: 0px;
            z-index: 3;

            .header-texts {
                width: 60%;
                
                .green-thumb {
                    top: 62px;
                    position: relative;
                }

                .title-text {
                    top: 43px;
                    position: relative;
                    margin: 0px;
                    font-size: 42px;
                    width: 400px;
                    color: white;
                }

                .arrow-down {
                    top: 31px;
                    position: relative;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .container {
        .container-header {
            height: 593px;

            .background-header {
                display: none;
            }

            .background-header-mobile {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                width: 100%;
                height: 100%;

                .mobile-leaf {
                    position: absolute;
                    width: 100%;
                    top: 0px;
                }

                .mobile-plantperson {
                    display: flex;
                    justify-content: center;
                    margin: 0px 22px 25px 22px;
                }
            }

            .content-header {
                .header-texts {
                    width: 78.125%;
                    .green-thumb {
                        top: 36px;
                        position: relative;
                        img {
                            height: 22px;
                        }
                    }
    
                    .title-text {
                        top: 32px;
                        position: relative;
                        margin: 0px;
                        font-size: 29px;
                        width: 100%;
                        color: white;
                    }
    
                    .arrow-down {
                        top: 16px;
                        position: relative;
                    }
                }
            }
        }
    }
}