@import "dropdown.scss";

.container-result {
    width: 100%;
    background-color: $bottom-background;

    display: flex;
    justify-content: center;

    .content-result {
        width: 60%;

        display: flex;

        box-sizing: border-box;

        .no-result {
            display: none;
            width: 100%;
            padding-top: 53px;
            padding-bottom: 68px;
            .no-result-text {
                color: $no-result-text;
                .no-result-text-main {
                    width: 442px;
                    margin-top: 21px;
                    margin-bottom: 13px;
                    font-size: 45px;
                }
                .no-result-text-normal {
                    width: 221px;
                    font-size: 16px;
                    line-height: 27px;
                }
            }

            .no-result-image {
                margin-left: 110px;
            }
        }

        .result {
            display: none;
            width: 100%;
            flex-direction: column;
            .result-image {
                margin-top: 37px;
                margin-bottom: 20px;
                img {
                    height: 78px;
                }
            }

            .result-text {
                font-size: 55px;
                line-height: 67px;
                margin-bottom: 55px;
            }

            .result-plants-desktop {
                display: none;

                &.active {
                    display: grid;
                    grid-row-gap: 20px;
                    grid-column-gap: 25px;
                    grid-template-columns: 25% 25% 25% 25%;

                    .result-plant-box {
                        background-color: white;
                        border-radius: 5px;
                        height: 245px;

                        position: relative;

                        width: 100%;
                        display: flex;
                        flex-direction: column;

                        .top-side {
                            display: flex;
                            justify-content: center;
                            margin: 10px 0px;

                            img {
                                width: 160px;
                                height: 160px;
                                object-fit: contain;
                            }
                        }

                        .bottom-side {
                            display: flex;
                            flex-direction: column;

                            .plant-name {
                                color: $green-name;
                                padding: 0px 20px;
                            }

                            .plant-info {
                                display: flex;
                                justify-content: space-between;
                                padding: 0px 20px;
                                padding-top: 5px;

                                .plant-price {
                                    color: $green-price;
                                }

                                .plant-specs {
                                    img {
                                        height: 20px;
                                    }
                                }
                            }
                        }

                        &.favorite {
                            &::after {
                                content: "✨ Staff favorite";
                                position: absolute;
                                width: fit-content;
                                padding: 15px;
                                font-size: 18px;
                                font-weight: bold;
                                color: white;
                                background: $terciary-color;
                                border-radius: 0px 999px 999px 0px;
                                left: 0px;
                                top: 30px;
                            }

                            .top-side {
                                margin: 40px 0px 10px 0px;
                                img {
                                    height: 320px;
                                }
                            }
    
                            .bottom-side {
                                flex-direction: row;
                                height: 100%;

                                .plant-name {
                                    display: flex;
                                    align-items: center;

                                    width: 190px;
                                    margin-left: 30px;
                                    font-size: 35px;
                                }
    
                                .plant-info {
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: flex-end;
                                    width: 100%;
    
                                    .plant-price {
                                        font-size: 24px;
                                        padding-bottom: 16px;
                                    }

                                    .plant-specs {
                                        img {
                                            height: 30px;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .favorite {
                        grid-column: 1 / span 2;
                        grid-row: 1 / span 2;
                        height: 510px;
                    }
                }
            }

            .result-plants-mobile {
                display: none;

                &.active {
                    display: flex;
                    flex-wrap: nowrap;
                    overflow-x: scroll;
                    padding: 0px 35px;

                    .result-plant-box {
                        background-color: white;
                        border-radius: 5px;

                        width: 100%;
                        height: 320px;

                        margin-right: 16px;
                        &:last-child {
                            margin-right: 0px !important;
                        }

                        position: relative;

                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        .top-side {
                            display: flex;
                            justify-content: center;
                            margin: 10px 0px;

                            img {
                                width: 220px;
                                height: 220px;
                                object-fit: contain;
                            }
                        }

                        .bottom-side {
                            display: flex;
                            flex-direction: column;

                            .plant-name {
                                color: $green-name;
                                padding: 0px 20px;
                            }

                            .plant-info {
                                display: flex;
                                justify-content: space-between;
                                padding: 0px 20px 15px 20px;
                                padding-top: 5px;

                                .plant-price {
                                    color: $green-price;
                                }

                                .plant-specs {
                                    img {
                                        height: 20px;
                                    }
                                }
                            }
                        }

                        &.favorite {
                            &::after {
                                content: "✨ Staff favorite";
                                position: absolute;
                                width: fit-content;
                                font-size: 13px;
                                padding: 8px 15px;
                                font-weight: bold;
                                color: white;
                                background: $terciary-color;
                                border-radius: 0px 999px 999px 0px;
                                left: 0px;
                                top: 20px;
                            }
                        }
                    }
                }
            }

            .result-back-button-container {
                margin-top: 60px;
                margin-bottom: 128px;
                
                .result-back-button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    border: 1px solid $primary-color;
                    border-radius: 25px;
    
    
                    .result-back-icon {
                        margin: 14px 18px 14px 0px;
                    }
    
                    .result-back-text {
                        color: $go-back-text;
                    }
                }
            }
        }

        .open {
            display: flex !important;
        }
    }
}

@media screen and (max-width: 600px) {
    .content-result {
        width: 100% !important;
        padding: 0px 35px;
        flex-direction: column;

        .no-result {
            flex-direction: column;
            padding-bottom: 32px !important;
            .no-result-text {
                flex-direction: column;
                .no-result-text-main {
                    width: 100% !important;
                    margin-top: 47px;
                }
                .no-result-text-normal {
                    margin-bottom: 38px;
                }
            }
            .no-result-image {
                display: flex;
                justify-content: center;
                margin-left: 0px !important;
            }
        }

        .result {
            .result-image {
                margin-top: 32px !important;
                margin-bottom: 16px !important;
                img {
                    height: 72px !important;
                }
            }
            
            .result-text {
                font-size: 40px !important;
                line-height: 49px !important;
                margin-bottom: 16px !important;
            }

            .result-back-button-container {
                margin: 32px 20px 22px 20px !important;
            }
        }
    }
}