@import "/scss/colors.scss";
@import "/scss/header.scss";
@import "/scss/filter.scss";
@import "/scss/result.scss";

//ainda tem o pseudo-preto do title no title quando tem resultado

// falta alguns cinzas

body {
    font-family: $main-font;
    background-color: red;
    width: 100%;

    min-height: 100% !important;
    height: 100%;
    margin: 0;
}

// *::selection {
//     color:#2B6535;
//     background: #0AC9B0;
// }

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}